substitutions:
  node_name: satellite-va
  core_revision: "3"
  led_ring_id: "satellite1_led_ring"

  xmos_fw_version: "v1.0.1-alpha.27"
  built_with_core_hw_version: "v1.0.0-beta.1"
  built_with_hat_hw_version: "v1.0.0-beta.1"


globals:
  # Global initialisation variable. Initialized to true and set to false once everything is connected. Only used to have a smooth "plugging" experience
  - id: init_in_progress
    type: bool
    restore_value: no
    initial_value: 'true'


esphome:
  name: ${node_name}-rev${core_revision}
  min_version: 2024.2.0
  project:
    name: satellite1.voice_assistant_r${core_revision}
    version: dev
  
  on_boot:
    priority: 375
    then:
      - logger.log: "Core-Rev ${core_revision}"
      # Run the script to refresh the LED status
      - script.execute: update_leds
      - delay: 1s
      
      # If after 10 minutes, the device is still initializing (It did not yet connect to Home Assistant), turn off the init_in_progress variable and run the script to refresh the LED status
      - delay: 10min
      - if:
          condition:
            lambda: return id(init_in_progress);
          then:
            - lambda: id(init_in_progress) = false;
            - script.execute: update_leds


logger:
  deassert_rts_dtr: true
  hardware_uart : USB_SERIAL_JTAG
  level: debug


external_components:
  - source:
      type: git
      url: https://github.com/gnumpi/nabu-voice-kit
      ref: dev
    components: [ audio_dac, media_player ]

  - source:
      type: local
      path: ../esphome/components
    components: [ i2s_audio, satellite1, pcm5122 ]


packages:
  core_board: !include common/core_board.yaml
  wifi: !include common/wifi_improv.yaml
  
  sensors: !include common/hat_sensors.yaml
  mp: !include common/media_player.yaml
  va: !include common/voice_assistant.yaml
  led_ring: !include 
    file: common/led_ring.yaml
    vars:
      led_ring_platform: satellite1
  debug: !include common/debug.yaml



status_led:
  pin: GPIO45

api:
  id: api_id
  on_client_connected:
    - lambda: id(init_in_progress) = false;
    - script.execute: update_leds
  on_client_disconnected:
    - script.execute: update_leds

ota:
  - platform: satellite1
    id: ota_satellite1_xmos
  
  - platform: esphome

http_request:



satellite1:
  spi_id: spi_0
  cs_pin: GPIO38
  data_rate: 4000000
  spi_mode: MODE3
  xmos_rst_pin: GPIO12
  flash_sw_pin: GPIO14


binary_sensor:
  - platform: gpio
    id: btn_volume_up
    pin:
      satellite1: 
      port: INPUT_A
      pin: 0
      inverted: true
    name: "Volume Up"
    on_press:
      - media_player.volume_up: nabu_media_player
  
  - platform: gpio
    id: btn_volume_down
    pin:
      satellite1: 
      port: INPUT_A
      pin: 2
      inverted: true
    name: "Volume Down"
    on_press:
      - media_player.volume_down: nabu_media_player

  - platform: gpio
    id: btn_action
    pin:
      satellite1: 
      port: INPUT_A
      pin: 1
      inverted: true
    name: "Action"
  
  - platform: gpio
    id: inp_hw_mute
    pin:
      satellite1: 
      port: INPUT_A
      pin: 3
      inverted: false
    name: "Mics Muted"


light:
  - platform: satellite1
    id: !extend ${led_ring_id}
    name: LED-Ring
    

button:
  - platform: template
    id: flash_satellite
    name: "Flash Satellite1"
    entity_category: diagnostic
    on_press:
      then:
        - ota.satellite1.flash:
            url: https://raw.githubusercontent.com/FutureProofHomes/Documentation/refs/heads/main/assets/firmware/xmos/${xmos_fw_version}/satellite1_firmware_adec.factory.bin
            md5_url: https://raw.githubusercontent.com/FutureProofHomes/Documentation/refs/heads/main/assets/firmware/xmos/${xmos_fw_version}/satellite1_firmware_adec.factory.md5


